{% extends 'myhood_app/base.html' %}


{% block content %}
{% block navbar %}
        {% include 'myhood_app/navbar.html' %}
    {% endblock %}
<div class="bg-color min-vh-100">
    <div class="container">
        <div class="row">
            <h2 class="mt-5">
                Dashboard <hr>
            </h2>
            {% if neighbourhoods %}
            {% for hood in neighbourhoods %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{hood.hood_image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">{{hood.hood_name}}</h5><hr class="mt-0">
                      <p class="card-text">{{hood.description}}</p>
                      <p>Located in {{hood.hood_loc}}</p>
                      {% if request.user.profile.neighbourhood == hood %}
                      <a href="{% url 'leave-hood' hood.id %}" class="btn btn-light">Leave hood</a>
                      {% elif not request.user.profile.neighbourhood %}
                      <a href="{% url 'join-hood' hood.id %}" class="btn btn-outline-light">Join hood</a>
                      {% endif %}
                      {% if request.user.profile.neighbourhood == hood %}
                      <a href="{% url 'neighbourhood' hood.id %}" class="btn btn-outline-light">Explore</a>
                      {% else %}
                      <p class="color text-center">Join community to explore more</p>
                      {% endif %}
                    </div>
                  </div>
            </div>
            {% endfor %}
            <div class="col-md-2">
                <a href="{% url 'create-hood' %}" class="btn btn-outline-light"><span class="iconify" data-icon="carbon:add-alt"></span> Create new hood</a>
            </div>
            {% else %}
            <div class="col">
                <h4>No Neighbourhoods yet. <a href="{% url 'create-hood' %}" class="btn btn-outline-light"><span class="iconify" data-icon="carbon:add-alt"></span> Create new hood</a></h4>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}