{% extends 'myhood_app/base.html' %}


{% block content %}
<div class="bg-color min-vh-100">
    <div class="container">
        <div class="row">
            <h2 class="mt-5">
                Dashboard <hr>
            </h2>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="../../../static/images/pexels-photo-688835.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">Kinoo neighbourhood</h5>
                      <p class="card-text">This is neighbourhood found in kikuyu constituency</p>
                      <a href="#" class="btn btn-outline-light">Join Hood</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}