{% extends 'myhood_app/base.html' %}


{% block content %}
{% block navbar %}
        {% include 'myhood_app/navbar.html' %}
    {% endblock %}
<div class="bg-color min-vh-100">
    <div class="container">
        <div class="row hood-bg backdrop" style="background-image:linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url({{hood.hood_image.url}}); min-height: 40vh;"></div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="border-end col-md-4 hood profile-pic prof-top p-3">
                <h2 class="fw-bold my-3 font-monospace color">{{hood.hood_name}}</h2>
                <p class="">
                    {{hood.description}}
                </p>
            </div>
            <div class="col-md-4 hood profile-pic prof-top p-3">
                <h4><span class="iconify fs-4 color" data-icon="bi:people-fill"></span> <span class="fw-bold">{{hood.occupants_count}}</span> Members</h4><hr>
                <h4 class="fw-bold mt-2">Helpline</h4>
                <p><span class="iconify fs-4 color" data-icon="carbon:phone-filled"></span> {{hood.contact_info}}</p><hr>
                <a href="{% url 'biz-page' hood.pk %}" class="btn btn-outline-light my-3">Find a Business</a>
                <a href="{% url 'hood-post' hood.pk%}" class="btn btn-outline-light ms-4">Add a Post</a>
            </div>
                
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-5 mx-auto">
                <h3>
                    Community Posts <hr>
                </h3>
            </div>
        </div>
        <div class="row">
            {% if posts %}
            
            <div class="col-md-5 mx-auto post p-3" >
                {% for post in posts %}
                <div class="my-4">
                    <h5 class="fw-bold">
                        <img src="{{post.user.profile.profile_pic.url}}" title="Profile picture" style="border-radius: 50%;" height="30" width="30">
                        {{post.user.username}}
                    </h5>
                    <div>
                        <img src="{{post.post_image.url}}" alt="" class="img-fluid" style="height: 50vh; width: 100%; object-fit: cover;">
                    </div>
                    <div>
                        <h6 class="fw-bold mt-3">
                           {{post.title}}
                        </h6>
                        <p>
                            {{post.post}}
                        </p>
                    </div>
                    <div>
                        <small class="font-monospace"><span class="iconify" data-icon="bx:time"></span> {{post.created_at|timesince}} ago</small>
                    </div>
                </div><hr class="color">
                {% endfor %}
            </div>
            {% else %}
            <div class="col-md-5 mx-auto text-center">
                <h3>No Posts yet...</h3>
                <a href="{% url 'hood-post' hood.pk%}" class="btn btn-outline-light ms-4">Add a Post</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}