{% extends 'myhood_app/base.html' %}


{% block content %}
{% block navbar %}
        {% include 'myhood_app/navbar.html' %}
    {% endblock %}
<div class="bg-color min-vh-100">
    <div class="container">
        <div class="row hood-bg backdrop" style="background-image:linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../../../static/images/pexels-photo-1038916.jpeg); min-height: 40vh; display: grid; place-items: center;">
            <div class="text-center">
                <h2 class="color fw-bold">Businesses</h2>
             <a href="{% url 'biz-create' hood.pk %}" class="btn btn-outline-light my-3">Add business</a>
            </div>
        </div>
        <div class="row">
             <!-- <a href="" class="btn btn-outline-light my-3">Find a Business</a> -->
             <div class="col-md-6 mx-auto pt-3">
                 <h5><a href="{% url 'neighbourhood' hood.pk %}" class="color nav-link"><span class="iconify" data-icon="bx:chevron-left-square"></span> Go back</a></h5>
                 <h3>All businesses in {{hood.hood_name}} neighbourhood <hr></h3>
                 <form class="d-flex hood-f my-3" role="search">
                    <input class="form-control me-2" type="search" name="biz_name" placeholder="Search business" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><span class="iconify" data-icon="akar-icons:search"></span></button>
                  </form>
                {% if businesses %}
                <h3 class="text-white found_div p-3">Found {{businesses|length}} businesses for {{message}}</h3>
                {% else %}  
                <h3 class="text-white found_div p-3">No results found for {{message}}</h3>
                {% endif %}

                {% if businesses %}
                 <table class="table table-dark table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Business name</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Owner</th>
                      </tr>
                    </thead>
                    {% for biz in businesses %}
                    <tbody>
                      <tr>
                        <th scope="row">{{biz.id}}</th>
                        <td>{{biz.biz_name}}</td>
                        <td>{{biz.biz_email}}</td>
                        <td>{{biz.user.username}}</td>
                      </tr>
                    </tbody>
                    {% endfor %}
                  </table>
                  {% endif %}
             </div>

             
        </div>
    </div>    
</div>
{% endblock %}