@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

html{
    background-color: #161616;
}

.banner{
    min-height: 100vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.3),rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url(../../static/images/pexels-photo-688835\ \(1\).jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.color{
    color: #def71c;
}

.backdrop{
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0.3);

    /* background-color: rgba(255,255,255,0.1); */
}

.register label,
small#hint_id_username,
small#hint_id_password1,
small#hint_id_password2
{
    display: none;
}

.center{
    display: grid; 
    place-items: center;
}

.register input, .create input{
    margin: 1.6vh 0;
    padding: 1.1vh;
    border-style: none;
    color: #fff;
}

.register input, 
.register input:focus, 
.hood-f input, 
.hood-f textarea, 
.hood-f input:focus,
.hood-f textarea:focus
{
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.hood-f label{
    margin-top: 2vh;
    font-weight: bold;
}

.register input:focus,
.hood-f input:focus
{
    border-bottom: 2px solid #def71c;
}
.register input::placeholder,
.hood-f input::placeholder,
.hood-f textarea::placeholder
{
    color: rgb(231, 231, 231)
}

input[type='file']{
    width: 100%;
}

.bg-color, nav{
    color: #fff;
    background-color: #161616;
}

.navbar-toggler{
    background-color: #fff;
}

.card, .found_div{
    background-color: rgba(43, 43, 43, 0.8);
    box-shadow: 2px 2px 20px 2px rgb(61, 61, 61);
}

.prof-top{
    background-color: rgba(43, 43, 43, 0.8);
    min-height: 30vh;
}

.profile-pic{
    transform: translateY(-35%);
}

.profile-picOG{
    transform: translateY(-20%);
}

.hood-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.post{
    background-color: rgba(43, 43, 43, 0.8);
}

.offcanvas{
    background-color: rgba(43, 43, 43, 0.7);
}

@media only screen and (max-width:769px) {
    .hood{
        flex-flow: row wrap;
    }
}