{% extends 'myhood_app/base.html' %}


{% block content %}
<div class="bg-color min-vh-100">
    <div class="container">
        <div class="row prof-top"></div>
        <div class="row">
            <div class="col-md-5 mx-auto profile-picOG">
                <div class="text-center">
                    <img src="../../../static/images/pexels-photo-1543767.jpeg" class="" title="Profile picture" style="border-radius: 50%;" height="180" width="180">
                    <h2 class="fw-bold my-3">{{user.username}}</h2>
                    <p class="">
                        {{user.profile.bio}}
                    </p>
                </div>
                <div class="p-3" style="border: 2px solid #2b2b2bcc;">
                    <p class="mb-3">
                        <span class="fw-bold h6">Full Name:</span>
                        <span>
                            {{user.first_name}} {{user.last_name}}
                        </span>
                    </p>
                    <p class="mb-3">
                        <span class="fw-bold h6">Location:</span>
                        <span class="my-3">
                            {{user.profile.my_location}}
                        </span>
                    </p>
                    <p class="mb-3">
                        <span class="fw-bold h6">Neighbourhood:</span>
                        <span>
                            {{user.neighbourhood.name}}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <h4 class="fw-bold">Personal Information</h4>
                <p>
                    Full Name
                </p>
                <p class="my-3">
                    My Location
                </p>
                <p>
                    My neighbourhood
                </p>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div> -->
        </div>

    </div>
</div>
{% endblock %}