{% extends 'myhood_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="banner">
<div class="container-fluid register-bg">
    <div class="row center min-vh-100">
        <div class="col-md-4 mx-auto backdrop">
            <div class="sign-up p-4 my-4">
                <div class="text-center mb-5">
                    <p class="h3 fw-bold text-white">Register</p>
                </div>
                
                <form method="post" class="register mx-md-5">
                    {% csrf_token %}
                    {{form|crispy}}
                    <br>
                    <button class="btn btn-light" style="width: 100%;">Sign Up</button>
                    <p class="text-white mt-4">Already registered? <a href="" style="color: #def71c;">Log In</a></p>
                </form>
            </div>        
        </div>
    </div>
</div>
</div>
{% endblock %}